bluelens-log==1.0.2
boto3==1.5.18
botocore==1.8.32
certifi==2016.2.28
docutils==0.14
grpcio==1.8.4
jmespath==0.9.3
numpy==1.14.0
protobuf==3.5.1
pymongo==3.6.0
python-dateutil==2.6.1
redis==2.10.6
s3transfer==0.1.12
six==1.11.0
stylelens-image==0.0.10
stylelens-object==0.0.42
stylelens-search-vector==1.0.10
